.player
    width 800px

    .video
        width 100%

    .controls
        .button
            height auto
            padding 10px 15px
            background #cccccc

        .seekbar
            position relative
            width 100%
            height 20px
            background #eeeeee
            cursor pointer

            .fill
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background #cccccc
                transform-origin 0 0
                transform scaleX(0)